@keyframes slidewest {
  0% { transform: translate(0px, 0px) }
  100% { transform: translate(-100%, 0px) }
}

@keyframes slidenorth {
  0% { transform: translate(0px, 0px) }
  100% { transform: translate(0px, -100%) }
}

@keyframes slideeast {
  0% { transform: translate(0px, 0px) }
  100% { transform: translate(100%, 0px) }
}

@keyframes slidesouth {
  0% { transform: translate(0px, 0px) }
  100% { transform: translate(0px, 100%) }
}

html, body, #root, .heartsRoot, .heartsRootContainer {
  height: 100%;
  margin: 0px;
}

body {
  background-image: url("../card_hand.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #212121;
}

.heartsRootContainer {
  display: flex;
  flex-direction: column;
}

.nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  background-color: rgba(66, 66, 66, 0.9);
  border-radius: 0.3em;
}

.game-title h1 {
  padding-left: 0.3em;
  color: #E0E0E0;
}

.nav-right {
  margin-left: auto;
}

.game-over {
  flex: 0 0 auto;
  background-color: grey;
}


.game-table {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(66, 66, 66, 0.9);
  border-radius: 0.3em;
}

.south-player {
  flex: 0 0 auto;
}

/*.game-table, .north-player, .east-player, .south-player, .west-player, .column-flex, .game-board, .trick {
  border: 1px solid black;
}*/

.row-flex {
  flex: 1 0 0;
  display: flex;
  align-items: stretch;
}

.east-player, .west-player, .north-player {
  display: none;
}

.game-board {
  flex: 1 0 0;
  display: flex;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: hidden;
}

.viewport {
  flex: 1 0 0;
  display: flex;
  align-items: stretch;
}

@media (min-width: 768px) {
  .east-player, .west-player, .north-player {
    display: block;
    flex: 0 0 auto;
  }

  .north-player {
    flex: 0 0 auto;
  }

  .game-board {
  }

  .viewport {
  }
}


td, th {
  text-align: right;
}

 .player-current {
  background: grey;
}

.card {
  font-size: 2em;
  font-family: monospace;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 1.8em;
  height: 2.929em;
  border: 1px solid black;
  border-radius: 5px 10px;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.south-player .card, .north-player .card {
  margin-left: -0.1em;
  padding-left: 0.1em;
}

.west-player .card {
  font-size: 2em;
  font-family: monospace;
  cursor: pointer;
  text-align: center;
  direction: rtl;
  display: block;
  height: 1.8em;
  width: 2.929em;
  border: 1px solid black;
  border-radius: 5px 10px;
  background: white;
  margin-top: -0.1em;
  padding-top: 0.1em;
}

.east-player .card {
  font-size: 2em;
  font-family: monospace;
  cursor: pointer;
  text-align: center;
  display: block;
  height: 1.8em;
  width: 2.929em;
  border: 1px solid black;
  border-radius: 5px 10px;
  background: white;
  margin-top: -0.1em;
  padding-top: 0.1em;
}

.west-player .card:hover, .west-player .card.toggled {
  transform: translate(0.25em, 0);
}

.south-player .card:hover, .south-player .card.toggled {
  transform: translate(0, -0.25em);
}

.east-player .card:hover, .east-player .card.toggled {
  transform: translate(-0.25em, 0);
}

.north-player .card:hover, .north-player .card.toggled {
  transform: translate(0, 0.25em);
}

.hand {
  text-align: center;
}

.hand .card:hover {
  transition: 0.1s;
}

.hand .card.toggled {
  background: rgb(235, 235, 235);
}

.trick {
  position: relative;
  margin: auto;
  height: 12em;
  width: 12em;
}

.trick .card {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.slide, .slide-out-west, .slide-out-north, .slide-out-east, .slide-out-south {
  flex: 1 0 0;
  display: flex;
  align-items: center;
}

.slide-out-west {
  animation: slidewest 0.25s 0.25s ease-out forwards;
}

.slide-out-north {
  animation: slidenorth 0.25s 0.25s ease-out forwards;
}

.slide-out-east {
  animation: slideeast 0.25s 0.25s ease-out forwards;
}

.slide-out-south {
  animation: slidesouth 0.25s 0.25s ease-out forwards;
}

.slide-in-west {
  animation: slidewest 0.2s ease-out reverse;
}

.slide-in-north {
  animation: slidenorth 0.2s ease-out reverse;
}

.slide-in-east {
  animation: slideeast 0.2s ease-out reverse;
}

.slide-in-south {
  animation: slidesouth 0.2s ease-out reverse;
}

.trick .card.north {
  top: -2.5em;
}

.trick .card.north.unplayed {
  top: -2.5em;
  background-color: #ccc;
}

.trick .card.east {
  right: -2.5em;
}

.trick .card.south {
  bottom: -2.5em;
}

.trick .card.west {
  left: -2.5em;
}

.game-over.true {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10,10,10,0.3);
}

.game-over.true div {
  position: relative;
  top: 25%;
  height: 50%;
  width: 290px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: 2s;
}
