@keyframes slidewest {
  0% { transform: translate(0px, 0px) }
  100% { transform: translate(-100%, 0px) }
}

@keyframes slidenorth {
  0% { transform: translate(0px, 0px) }
  100% { transform: translate(0px, -100%) }
}

@keyframes slideeast {
  0% { transform: translate(0px, 0px) }
  100% { transform: translate(100%, 0px) }
}

@keyframes slidesouth {
  0% { transform: translate(0px, 0px) }
  100% { transform: translate(0px, 100%) }
}

body {
  background-image: url("../card_hand.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #9fdfbf;
}

.jumbotron {
  background-color: rgba(238,238,238,0.97);
}

.game-board {
  height: 12em;
  width: 12em;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

td, th {
  text-align: right;
}

 .player-current {
  background: grey;
}

.card {
  font-size: 2em;
  font-family: monospace;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 1.8em;
  height: 2.929em;
  border: 1px solid black;
  border-radius: 5px 10px;
  background: white;
}

.hand .card {
  margin-left: -0.1em;
  padding-left: 0.1em;
}

.hand .card:hover {
  transform: translate(0, -0.2em);
  transition: 0.1s;
}

.trick {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 12em;
  width: 12em;
}

.trick .card {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.slide-out-west {
  animation: slidewest 0.25s 0.25s ease-out forwards;
}

.slide-out-north {
  animation: slidenorth 0.25s 0.25s ease-out forwards;
}

.slide-out-east {
  animation: slideeast 0.25s 0.25s ease-out forwards;
}

.slide-out-south {
  animation: slidesouth 0.25s 0.25s ease-out forwards;
}

.slide-in-west {
  animation: slidewest 0.2s ease-out reverse;
}

.slide-in-north {
  animation: slidenorth 0.2s ease-out reverse;
}

.slide-in-east {
  animation: slideeast 0.2s ease-out reverse;
}

.slide-in-south {
  animation: slidesouth 0.2s ease-out reverse;
}

.trick .card.north {
  top: -2.5em;
}

.trick .card.north.unplayed {
  top: -2.5em;
  background-color: #ccc;
}

.trick .card.east {
  right: -2.5em;
}

.trick .card.south {
  bottom: -2.5em;
}

.trick .card.west {
  left: -2.5em;
}

.game-over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10,10,10,0.3);
}

.game-over div {
  position: relative;
  top: 25%;
  height: 50%;
  width: 290px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: 2s;
}
